@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Press Start 2P", cursive;
  background: whitesmoke;
}

h1 {
  text-align: center;
  margin: 3rem 0;
}

ul {
  list-style-type: none;
}

li {
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: black;
}

.gallery {
  display: grid;
}

.image {
  width: 25rem;
  height: 25rem;
}
